* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 90vw;
  display: flex;
  gap: 2em;
  margin: auto;
}
.formDiv {
  margin-top: 25px;
}

table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  margin: 30px;
  border-radius: 5px;
  font-size: 18px;
}
tr,
th,
td {
  border: 1px solid silver;
  padding: 15px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.deleteBtn {
  cursor: pointer;
}
.deleteBtn:hover {
  color: red;
}
label {
  font-size: 20px;
  font-weight: bold;
}
.submitBtn {
  margin-top: 20px;
  padding: 5px 60px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.task {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  font-size: 16px;
}

header {
  border: 2px solid #03abab;
  background-color: #31eded;
  padding: 10px;
}
